<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Projektinhallinta</title>
	<link rel="stylesheet" href="bulma.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="../config.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/backend.js"></script>
</head>
<body>
<div class="container content" id="app">
	<div class="container">
		<p>
			<div class="content" v-for="project in projects">
				<h2>{{ project.name }}</h2>
				<ul>
					<ol v-for="task in tasks" v-if="task.project == project.name">
						<div>
							<b><span v-on:click="ExpandTask(task._id)" :class="{ inactivetask: !task.status }">
								{{ task.desc }}
							</span></b>

							<transition name="fade">
								<div :ref="task._id" v-if="task._id == active_task">
									<span v-on:click="ChangeTaskStatus(task)">👌</span>
									<span @click="DeleteTask(task._id)">💀</span>
									<span v-if="editing._id != task._id" v-on:click="editing = task">
										<span v-if="task.notes">{{task.notes}}</span>
										<span v-else><i>[Lisää kuvaus]</i></span>
									</span>

									<transition name="slide-fade" v-on:after-enter="$refs.notefield[0].focus()">
										<div v-if="editing._id == task._id">
											<textarea ref="notefield" v-model.trim="editing.notes" class="textarea" @keyup.ctrl.enter="UpdateTask()" @keyup.esc="editing = {}">{{task.notes}}</textarea>
											<input type="button" value="Muokkaa" class="button" v-on:click="UpdateTask()">
										</div>
									</transition>

									<ul>
										<ol v-for="link in task.links">
											<a :href="link[0]">{{ link[1] }}</a>
										</ol>
									</ul>
								</div>

							</transition>
						</div>
					</ol>

					<ol>
						<transition name="fade" mode="out-in">
							<div v-if="new_task.project != project.name" key="addnew">
								
								<span v-on:click="new_task.project = project.name">
									(<b>+</b>) <i>Lisää uusi tehtävä</i>
								</span>
							</div>

							<div v-else key="editingnew">
								<div class="columns">
									<div class="column">
										<input ref="newtaskfield" type="input" class="input" v-model="new_task.desc" @keyup.enter="NewTask" @keyup.esc = "new_task.project = ''">
									</div>
									<div class="column is-one-quarter">
										<button class="button" v-on:click="NewTask">Lisää</button>
									</div>
								</div>
							</div>
						</transition>
					</ol>
				</ul>
			</div>
		</p>

		<div class="box">
			
			<label class="label">Lisää uusi projekti:</label>

			<div class="columns">
				<div class="column">
					<div class="field control">
						<input type="text" class="input" v-model="new_project.name" @keyup.enter="NewProject">
					</div>
				</div>

				<div class="field control column is-one-fifth">
					<button class="button" v-on:click="NewProject">Lisää</button>
				</div>
			</div>
		</div>
	</div>
	<script>

		function GetTasks() {
			GetFromServer('tasks')
			app.new_task = {project: ""}
		}

		function GetProjects() {
			GetFromServer('projects')
			app.new_project = {}
		}

		var app = new Vue({

			el: "#app",
			data: {
				active_task: "",
				editing: {},
				new_task: {
					project: ""
				},
				new_project: {},
				tasks: [],
				projects: []
			},
			methods: {
				ChangeTaskStatus: function(task_data) {
					task_data.status = !task_data.status
					PostToServer("update_task", task_data)
				},
				DeleteTask: function(taskid) {
					if (confirm("Haluatko poistaa tehtävän?"))
						PostToServer("delete_task", {taskid}, GetTasks)
				},
				ExpandTask: function(taskid) {
					app.active_task != taskid ? app.active_task = taskid : app.active_task = ""
					app.editing = {}

				},
				NewProject: function() {
					PostToServer("new_project", app.new_project, GetProjects)
				},
				NewTask: function() {
					PostToServer("new_task", app.new_task, GetTasks)
				},
				UpdateTask: function() {
					PostToServer("update_task", app.editing)
					app.editing = {}
				}
			}
		})
		
		GetTasks()
		GetProjects()

	</script>
</div>
</body>
</html>