<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Projektinhallinta</title>
	<link rel="stylesheet" href="bulma.css">
	<link rel="stylesheet" href="style.css">
	<script src="js/axios.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/backend.js"></script>
</head>
<body>
<div class="container content" id="app">
	<div class="container">
		<p>
			<div class="content" v-for="project in projects">
				<h2>{{ project.name }}</h2>
				<ul>
					<ol v-for="task in tasks" v-if="task.project == project.name">
						<div>
							<b><span v-on:click="ExpandTask(task._id)" :class="{ inactivetask: !task.status }">
								{{ task.desc }}
							</span></b>

							<transition name="fade">
							<div :ref="task._id" v-if="task._id == active_task">
								<span v-on:click="ChangeTaskStatus(task)">👌</span>
								<span v-if="editing._id != task._id" v-on:click="editing = task">
									<span v-if="task.notes">{{task.notes}}</span>
									<span v-else><i>[Lisää kuvaus]</i></span>
								</span>

								<transition name="slide-fade">
								<div v-if="editing._id == task._id">
									<textarea v-model="editing.notes" class="textarea">{{task.notes}}</textarea>
									<input type="button" value="Muokkaa" class="button" v-on:click="UpdateTask()">
								</div>
								</transition>



								<ul>
									<ol v-for="link in task.links">
										<a href="{{link.url}}">{{ link.title }}</a>
									</ol>
								</ul>
							</div>

							</transition>
						</div>
					</ol>
					<ol> (<b>+</b>) <i>Lisää uusi tehtävä</i></ol>
				</ul>
			</div>
		</p>
	</div>

	<div class="box">
		<h1 class="title">Lisää uusi tehtävä</h1>
		<div class="field control">
			<label class="label">Kuvaus:</label>
			<input type="input" class="input" v-model="new_task.desc"></input>
		</div>

		<div class="field control">
			<label class="label">Muistiinpanot/kommentit:</label>
			<textarea class="textarea" v-model="new_task.notes"></textarea>
		</div>

		<div class="field control">
			<label class="label">Tyyppi:</label>
			<input type="radio" class="radio" value="ajatus" v-model="new_task.type"> Ajatustyö
			<input type="radio" class="radio" value="mekaaninen" v-model="new_task.type"> Mekaaninen

		</div>

		<div class="field control">
			<label class="label">Projekti:</label>
			<div class="select is-multiple">
				<select v-model="new_task.project">
					<option v-for="project in projects">
						{{ project.name }}
					</option>
				</select>
			</div>
		</div>

		<div class="field control">
			<label class="label">Deadline:</label>
			<input type="text" class="input" v-model="new_task.deadline">
		</div>

		<div class="field control">
			<button class="button" v-on:click="NewTask">Hmm</button>
		</div>
	</div>

	<div class="box">
		<h1 class="title">Lisää uusi projekti</h1>
		<div class="field control">
			<label class="label">Nimi:</label>
			<input type="text" class="input" v-model="new_project.name">
		</div>

		<div class="field control">
			<button class="button" v-on:click="NewProject">Hmm</button>
		</div>
	</div>
</div>
<script>

	function GetTasks() {
		GetFromServer('tasks')
	}

	function GetProjects() {
		GetFromServer('projects')
	}

	var app = new Vue({

		el: "#app",
		data: {
			active_task: "",
			editing: {},
			new_task: {},
			new_project: {},
			tasks: [],
			projects: []
		},
		methods: {
			ChangeTaskStatus: function(task_data) {
				task_data.status = !task_data.status
				PostToServer("update_task", task_data)
			},
			ExpandTask: function(taskid) {
				app.active_task != taskid ? app.active_task = taskid : app.active_task = ""
				app.editing = {}

			},
			NewProject: function() {
				PostToServer("new_project", app.new_project, GetProjects)
			},
			NewTask: function() {
				PostToServer("new_task", app.new_task, GetTasks)
			},
			UpdateTask: function() {

				app.editing.notes = (app.editing.notes).trim()

				PostToServer("update_task", app.editing)
				app.editing = {}
			}
		}
	})
	
	GetTasks()
	GetProjects()

</script>
</body>
</html>